%h1 Books

- @books.in_groups_of(4) do |group|
  .row
    - group.compact.each do |book|
      .large-3.columns
        = image_tag book.cover_url, :width => '100%' if book.cover.present?
        %h4
          = link_to book.title, book

- if current_user.admin?
  = button_to 'New Book', new_book_path, :class => 'button'
