.row
  .large-12.columns
    %p
      This is a bookshelf app. You can add your favourite books to a bookshelf.
    %p
      Back-end: Ruby on Rails 4.1.1
      %br
      Front-end: HAML, Foundation 5
    %p
      Created by Wiktoria Dalach.
      %br
      See code on
      %a{href: "https://github.com/dalach/bksf"} Github
  
